apiVersion: apps/v1
kind: Deployment
metadata:
  name: iris-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: iris
  template:
    metadata:
      labels:
        app: iris
    spec:
      containers:
      - name: iris-api
        image: us-central1-docker.pkg.dev/sincere-mission-473205-i3/iris-api-repo/iris-api:latest   # replace after push
        ports:
        - containerPort: 8000
